<h2>Liste de tous les jeux</h2>

<div class="d-flex flex-wrap">
  <% @games.each do |game| %>
    <div class="card-product">
      <%= image_tag "jeux-societe.png" %>
      <div class="card-product-infos">
        <h2><%= link_to game.title, game_path(game)%></h2>
        <p><%= game.description %></p>
        <p><%= game.price_per_day %> €</p>
      </div>
    </div>
  <% end %>
</div>


  <% if user_signed_in? %>
    <p class="btn btn-info" style="border-radius: 24px;"><%= link_to "Créer un nouveau jeu", new_game_path %></p>
  <% end %>
</div>
